* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
nav {
  font-family: sans-serif;

  min-width: 310px;
  background: lightslategrey;
  border-right: 1px solid black;
  height: 100vh;
}
nav a {
  color: black;
  display: block;
  padding: 15px;
  border-top: 2px solid black;
  text-decoration: none;
}
nav header {
  padding: 15px;
}
main {
  flex: 1;
  height: 100vh;
  overflow-y: scroll;
}
section {
  padding: 15px;
  line-height: 1.5;
}

header {
  font-weight: 600;
  font-size: 20px;
}
pre {
  padding: 14px;
  background: #dddddd;
}
@media (max-width: 600px) {
  body {
    flex-direction: column;
  }
  nav {
    width: 100%;
    overflow-y: scroll;
    height: 300px;
    border-bottom: none;

    border-bottom: 2px solid black;
  }
  main {
    width: 100%;
    height: auto;
  }
}
